[Unit]
Description=amdgpu-fancontrol

[Service]
ExecStart=/usr/bin/amdgpu-fancontrol
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
